<div class="bg h-screen w-full text-black relative">
        <div class="flex flex-row">
            <%= render "sidebar"%>
             <div class="w-full">
                <h1 class="text-center text-5xl mt-5">Edit User</h1>
                    <div class="">
                    <%= render "form", scope: :user, path: admin_dashboard_path %>
                    </div>
        </div>
</div>


