<div class="bg-[#DBE9EE] h-screen w-full text-black relative">
<%= render "partials/navbar"%>
<div class="flex flex-row">
<%= render "sidebar"%>
<%= render "form", scope: :user, path: admin_dashboard_index_path %>
</div>
</div>


