<div class="home_bg h-screen w-full text-white">
<%= render "partials/navbar"%>
<h1>HOME STOCKS</h1>

<h1>HELLO!</h1>
<p><%= @user.email.inspect %></p>
<p><%= @user.admin.inspect %></p>

<% if @user %>

<% end %>


<div class="lol">
<%= @chart %>
</div>
</div>